* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

.home-container-morning {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-image: url("./images/morning.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container-afternoon {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-image: url("./images/afternoon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container-evening {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-image: url("./images/evening.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container-night {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-image: url("./images/night.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container-morning h1 {
  justify-content: center;
  color: aliceblue;
  font-size: 100px;
}

.home-container-morning h2 {
  color: aliceblue;
  font-size: 40px;
}

.home-container-afternoon h1 {
  justify-content: center;
  color: aliceblue;
  font-size: 100px;
}

.home-container-afternoon h2 {
  color: aliceblue;
  font-size: 40px;
}

.home-container-evening h1 {
  justify-content: center;
  color: aliceblue;
  font-size: 100px;
}

.home-container-evening h2 {
  color: aliceblue;
  font-size: 40px;
}

.home-container-night h1 {
  justify-content: center;
  color: aliceblue;
  font-size: 100px;
}

.home-container-night h2 {
  color: aliceblue;
  font-size: 40px;
}


.signin-container { 
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.glow-on-hover {
  width: 220px;
  height: 80px;
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #ef4648;
  background: #ebe8e2;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #ebe8e2
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ebe8e2;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.nav-button {
  display: flex;
  align-items: center;
  margin-right: 24px;
  /* Third Nav */
  /* justify-content: flex-end;
  width: 100vw; */
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.signout-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.note-container {
  display: flex;

}

.notes-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.notes-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.notes-sidebar-header h1 {
  margin: 0;
}

.notes-sidebar-header button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}

.notes-sidebar-header button:hover {
  color: #04c;
}
 
.notes-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}

.notes-sidebar-note {
  padding: 25px;
  cursor: pointer;
}

.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}

.notes-sidebar-note button {
  color: crimson;
  font-family: 'Karla', sans-serif;
}
.notes-sidebar-note p {
  margin: 10px 0;
}
.notes-sidebar-note small {
  display: block;
  color: #999;
}

.notes-sidebar-note:hover {
  background: #ddd;
}
.notes-sidebar-note.active,
.notes-sidebar-note.active small {
  background: #08c;
  color: white;
}

.notes-main {
  width: 70%;
  height: 100vh;
}
.notes-main-note-edit,
.notes-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

.notes-main-note-edit {
  padding: 25px;
}

.notes-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.notes-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

.notes-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}

.weather {
  width: 100%;
  height: auto;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

.weather:before {
  content: '';
  background: url('./images/sunny.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.weather .search {
  text-align: center;
  padding: 1rem;
  font-family: 'Karla', sans-serif;
}

.weather input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
  font-family: 'Karla', sans-serif;

}

::placeholder {
  color: #f8f8f8;
}

.weather-container {
  max-width: 700px;
  height:430px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather .top {
  width: 100%;
  margin: 1rem auto;
}

.weather .description {
  position: relative;
  transform-origin: 0 0;
}

.weather .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}

.bold {
  font-weight: 700;
}

.weather p {
  font-size: 1.6rem;
}

.weather h1 {
  font-size: 6rem;
}
